body{
    background-image: url(https://i.pinimg.com/564x/8a/fd/6f/8afd6ffd442b5e3f3559369f6295f1e2.jpg);
    background-size: contain;
}
main{
    display: flex;
}
header{
    color: white;
    font-size: 20px;
}
a{
    display: inline-block;
    color: aliceblue;
    size: 40px;
    margin-left: 20px;
}
table{
    margin-left: 80px;
    margin-top: 50px;
    border-color: #746aa8;
    border-radius: 50%;
    overflow: hidden;
    border: 9px;
    border-collapse: collapse;
}
img{
     width: 400px;
     height: 400px;
}
h1{
    color: aliceblue;
    margin-left: 1300px;
}
footer{
    color: aliceblue;
    text-align: center;
    font-size: 40px;
}
#mavidéo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}